@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Merriweather:wght@300;400;700&family=Roboto+Mono:wght@400;700&display=swap');

@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  body {
    margin: 0;
    padding: 0;
  }

  * {
    box-shadow: none !important;
  }

  .page-break {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}